[2016-07-11 06:11] svenefftinge opened #3 "Move tests"
We should move the lib tests to this repository.
Many of them are here https://github.com/eclipse/xtext-extras/tree/master/org.eclipse.xtext.xbase.tests/src/org/eclipse/xtext/xbase/tests/lib and https://github.com/eclipse/xtext-xtend/tree/master/org.eclipse.xtend.core.tests/src/org/eclipse/xtend/core/tests/lib

[2016-07-11 07:12] #3 closed

[2016-07-11 09:11] spoenemann commented on #3
We could consider moving the tests into a new source folder of xbase.lib.

[2016-07-11 11:29] svenefftinge commented on #3
I decided for a separate project because we need one for xtend.lib, too (for active annotations tests).

[2016-09-14 14:58] kthoms opened #10 "Ignore optional compile problems on *-gen source folders"
Follow-up issue for https://github.com/eclipse/xtext-core/issues/5

[2016-11-30 09:32] cdietrich opened #24 "org.eclipse.xtend.lib.gwt.test has compile issues in eclipse"

[2016-11-30 09:33] #24 closed

[2016-11-30 11:01] #10 closed

[2016-12-20 14:24] Dunemaster opened #30 "Guava 19+ for org.eclipse.xtext.xbase.lib"
Bundle  org.eclipse.xtext.xbase.lib requires google guava [14-19)
Is there any specific reason not to use  version 19+?

[2016-12-20 14:33] dhuebner commented on #30
@Dunemaster We are using eclipse orbit p2 repository. There is only 18.0.0 available ATM.

[2016-12-20 14:42] Dunemaster commented on #30
Well, we are using guava 19 in our project and it causes a lot of inconvinience to coax it work with xbase
Why not set [14-20] in the manifest?

[2016-12-20 14:45] dhuebner commented on #30
@Dunemaster Because it will cause problems in other environments (e.g. eclipse tycho build) where guava 18 and 19 will be conflicting. Why not use guava 18 in you project?

[2016-12-20 14:48] Dunemaster commented on #30
I am sorry, but what kind of problems can cause allowing (not forcing) other version?

[2016-12-20 14:54] dhuebner commented on #30
e.g. https://bugs.eclipse.org/bugs/show_bug.cgi?id=427862

[2016-12-20 14:57] dhuebner commented on #30
I think this is also related:
https://bugs.eclipse.org/bugs/show_bug.cgi?id=482701

[2016-12-20 15:02] Dunemaster commented on #30
Well, currently guava is not a single version dependency, it is a range!
I only suggest to broaden it, like it was done in
https://bugs.eclipse.org/bugs/show_bug.cgi?id=482701     (https://github.com/eclipse/xtext/commit/14e452fcb1296f3e56bb6696398efac642ffce50)

[10.0.1,14.0.1] -> [14.0,19.0)

I suggest

[14.0,19.0) -> [14.0, 20]

[2017-01-25 13:52] dhuebner commented on #30
@Dunemaster FYI there is an incoming request in eclipse orbit, which will hopefully end up in a new guava contribution 21.0.
Means we can consider using guava 21 inclusive upper-bound in eclipse Oxygen -> Xtext 2.12

[2017-01-25 14:05] Dunemaster commented on #30
@dhuebner thank you

[2017-02-17 02:10] djozis opened #40 "DefaultLineDelimiter super src missing from published GWT artifacts in 2.11.0"
Checking here: http://central.maven.org/maven2/org/eclipse/xtext/org.eclipse.xtext.xbase.lib.gwt/2.11.0/
And here: http://central.maven.org/maven2/org/eclipse/xtext/org.eclipse.xtext.xbase.lib/2.11.0/
I was not able to find any jars (sources or normal) containing this file: https://github.com/eclipse/xtext-lib/blob/master/org.eclipse.xtext.xbase.lib.gwt/src-super/org/eclipse/xtend2/lib/super/org/e

[2017-02-20 13:15] svenefftinge commented on #40
A restructuring issue, I suppose

[2017-02-21 14:01] cdietrich commented on #40
I assume we can do thw follwing.

adapt *.lib/build.gradle and add a tasks like this

[code]

adapt *.lib.gwt/build.gradle and customize it like this

[code]

we might have to adapt the libgwt.xmls in a way that sources are searched in /

unfortunately i know too few on gwt.

@svenefftinge @spoenemann can you help?

[2017-02-21 15:54] cdietrich commented on #40
@djozis would you be so kind and test the 2.12.0 snapshot from here http://services.typefox.io/open-source/jenkins///job/xtext-lib/job/cd_issue40/lastSuccessfulBuild/artifact/build/maven-repository/

[2017-02-22 01:36] djozis commented on #40
@cdietrich I had to add some of the other builds too for transitive dependencies:
[code]
Yes, the issue was solved. I could show that switching between the 2.12.0-SNAPSHOT versions and the 2.11.0 versions would cause the same code to succeed and fail respectively.

[2017-02-22 06:13] cdietrich commented on #40
maybe a condidate for 2.11.1 as well

[2017-02-27 15:54] #40 closed

[2017-03-01 22:00] djozis commented on #40
I'm having a lot of trouble doing any string concatenation on client side of GWT due to this error. Is there any work-around or timeline on when 2.11.1 may be released?

I tried doing concatenation in a Java method using StringBuilder and it still failed due to the DefaultLineDelimiter compile issue. Removing that attempt to concatenate and using an empty string instead then compiled fine.

[2017-03-02 06:21] cdietrich commented on #40
@svenefftinge @spoenemann can you please comment on the timeline of the 2.11.1 release?

@djozis is it possible you use the 2.12.0-SNAPSHOTS for xbase.lib/xbase.lib.gwt/xtend.lib/xtend.lib.gwt only

[2017-03-08 12:24] djozis commented on #40
Thanks for the suggestion @cdietrich - yesterday I figured out why I got that error with even normal concatenation. One of the strings I was trying to concatenate was coming from a method with a templated string body - it was otherwise not being called from the client side in GWT. Referencing it seemed to cause GWT to try to compile it for the client side and fail. I should be able to work around

[2017-03-10 11:50] spoenemann commented on #40
In general, we don't have fixed plans for service releases. We don them as soon as we have enough content. Since preparing a release is quite a lot of work in the case of Xtext, it would be nice to gather other important issues in addition to this one &ndash; if it's fine for you to work with the snapshots for some time.

[2017-03-16 14:53] svenefftinge opened #45 "Build xbase and xtend lib built with Java 6"
To allow usage of xtend on Java 6 runtimes, we need to make sure the libs are compiled for that.

[2017-03-22 12:18] darvasd opened #46 "isEmpty of filtered Iterable<T> consumes the first element"
If an `Iterable<T>` created by `IteratorExtensions.toIterable` is filtered (by `IterableExtensions.filter`), the behaviour of the resulting `Iterable` is unexpected. For example, the call of `isEmpty` will consume its first element.

MWE:
[code]

This also implies the following strange situation, where two consecutive calls of `isEmpty` return different values:
[code]

If the filtering is performe

[2017-03-22 12:22] cdietrich commented on #46
looks like a duplicate of https://bugs.eclipse.org/bugs/show_bug.cgi?id=407901 which was close wontfix

[2017-03-22 12:27] darvasd commented on #46
Without having a look at the implementation, I think it is not straightforward to know that `isEmpty` counts as iteration and after calling `isEmpty` I shouldn't call anything else on the `Iterable`. Probably a warning about this could help in the Javadoc of `IteratorExtensions.toIterable`.

[2017-03-22 12:43] cdietrich commented on #46
yes i thought that was already done before. i am still looking for yet another bug demanding this.

[2017-03-29 21:33] mxro commented on #40
I don't know if this is related to this issue but I have come across the following problem:

Using `2.11.0` from Maven Central, I was not able to get anything to compile with GWT. In particular, I got the error that GWT could not find the source for `org.eclipse.xtext.xbase.lib.Lib` (this is referenced in the Xtend GWT library).

Thank you!

[2017-03-30 06:22] cdietrich commented on #40
Yes this is the same issue

[2017-03-30 20:26] djozis commented on #40
@mxro All the .java sources seem to be absent from the gwt versions of the jars - to work around this, I've been adding the sources jar to my dependencies - it's not perfect but it's good enough for me for now. Gradle example of what has worked for me: https://github.com/djozis/gradle-gwt-xtend-autogwt-example/blob/master/build.gradle#L66-L71
Biggest loss with this approach imo is `'''template str

[2017-03-31 05:22] mxro commented on #40
@djozis Thank you, that's looks like a good approach. Unfortunately, I am using Maven and don't think I can find a good solution to download the sources for the project *and the projects dependent on it* ...

[2017-03-31 06:56] svenefftinge commented on #40
@mxro could you use the snapshot version for now?

[2017-04-05 07:40] mxro commented on #40
I downgraded to 2.10.0 for now, which works fine. I'll be happy to wait until the next release. Thank you!

[2017-04-07 07:51] #46 closed

[2017-04-11 07:33] pcdavid commented on #30
FYI, Guava 21 is now available in Orbit at http://download.eclipse.org/tools/orbit/S-builds/S20170306214312/repository/ (the repo for Oxygen M6).

[2017-04-11 08:55] cdietrich commented on #30
unfortunately https://github.com/google/guava/wiki/Release21 requires java 8.
=> we would need to take care we pick guava <=20 for the build but use 21 in eclipse/gradle/maven metadata

[2017-04-12 10:52] cdietrich commented on #30
@svenefftinge @dhuebner what do you think?

[2017-04-27 17:18] guw commented on #30
@cdietrich care must be taken with Guava. You should only spec the range in the metadata that you are comfortable with (read, actually using for compiling). Guava is very good at actually removing deprecated API. For example, in 21 two methods in Objects have been removed which where deprecated in 18. Realistically, you would need to compile with all major versions to make sure that no one uses AP

[2017-05-05 14:17] gallandarakhneorg opened #49 "Invalid synchronization of resources"
I have written a DSL with Xtext editor associated to.
Many times, I have the editor show up errors in my DSL code and the package explorer not (see the attached figures).

![capture du 2017-05-02 18-21-12](https://cloud.githubusercontent.com/assets/4200154/25749293/4d97d0f4-31ae-11e7-9ded-8a481e5fc640.png)

![capture du 2017-05-02 17-41-29](https://cloud.githubusercontent.com/assets/4200154/257492

[2017-05-08 12:44] cdietrich commented on #30
@svenefftinge how shall we proceed with this?
update to 21 and skip java 6 support?
what should be the new minimal version?

[2017-05-08 12:49] cdietrich commented on #30
https://dev.eclipse.org/mhonarc/lists/cross-project-issues-dev/msg14431.html

[2017-05-08 14:15] cdietrich commented on #30
might need an update of gwt as well (and maybe a different way to build it since the plugin we use seems no longer to be maintained)

[2017-05-09 05:21] cdietrich commented on #30
places that need adaption: {{HiddenRegionFormattingToString.java}} in xtext core uses {{firstNonNull}}
we would have to copy & paste the guava code to make this running from 14-21

{code}
private static <T> T firstNonNull(T first, T second) {
    return first != null ? first : Preconditions.checkNotNull(second);
}
{code}

[2017-05-09 05:27] cdietrich commented on #30
mwe2.lib and mwe2.lanugae.ui still use a restricted guava too.

[2017-05-17 11:16] dhuebner commented on #30
See also:
https://bugs.eclipse.org/bugs/show_bug.cgi?id=516799

[2017-05-17 11:21] cdietrich commented on #30
@svenefftinge and i discussed on this issue and we are sceptial if it not too late inside oxygen train to change this critical part

[2017-05-17 11:27] ewillink commented on #30
Mylyn imposes a precisely Guava 21 bound for Oxygen.

It is therefore very desirable, if not mandatory, that Xtext tolerate Guava 21.

Surely you just open the bounds to 21, and write private versions of everything that is lost. This worked for me for OCL and QVTd that depend on Xtext. Not sure how given that Xtext doesn't tolerate Guava 21 (perhaps just any more).

[2017-05-17 11:34] cdietrich commented on #30
that "should" work, but can explode as well. the only private thingy spot **I** have found was fixed by me but what about the others. and what about non eclipse. and what about mwe ...

[2017-05-17 11:36] svenefftinge commented on #30
Correct me if I'm wrong. I fear that Xtext 2.12 would use guava 21 if it exists (which seem to be likely), even if downstream Xtext languages don't support it. In that case we will have Class collisions between Xtext and Xtext languages.

[2017-05-17 11:43] ewillink commented on #30
MWE, Xtext have demonstrated, perhaps accidentally, that downstream tools can leave Guava bounds unspecified and just inherit whatever choice MWE/Xtext makes. If you're using Xtext, why would you choose anything different?

So long as your Guava use is trivial, e.g. I just use a few Iterables helpers, then migration is trivial.

Obviously if you have Optional in your API it may be a nightmare. The

[2017-05-17 11:45] cdietrich commented on #30
for me this is fewer a problem in xtext code base as with other components
(mwe, xcore, ....)

if you want to play  "guinea pig" :

http://services.typefox.io/open-source/jenkins///job/xtext-umbrella/job/guava21/lastSuccessfulBuild/artifact/build/p2-repository/

[2017-05-17 12:12] svenefftinge commented on #30
I'm thinking of clients that have used previous versions of Xtext and have copied the version range.

I agree we should do that ASAP. The question is just if this should be done five days before a release. Maybe I am missing something, but since guava is not a singleton bundle it should be ok if mylyn activates and uses a different version.  In theory it should only be problematic if the same clie

[2017-05-17 12:32] ewillink commented on #30
In theory ... However since very few projects have accurate uses directives, it is not clear that Equinox is bug free in selecting a good Guava. If Mylyn forces Guava 21 and Xtext forces Guava 18, then Equinox has a choice wherever there is ambiguity. The problem will show up when one of the big integrators such as Papyrus or Sirius brings Xtext/Mylyn together in one plugin.

I cannot recommend to

[2017-05-17 12:50] svenefftinge commented on #30
Ok, we had a brief offline discussion and decided to do it. If it reveals any issues we night roll it back in a bugfix release.

[2017-05-17 13:04] ewillink commented on #30
Thanks. wrt clients who have copied a version range, they are ok if they ensure that they only use an earlier Guava version and uninstall Mylyn. If they want Oxygen and Mylyn then they probably need to relax their version bounds. Xtext raising its upperbound shouldn't make anything worse.

[2017-05-17 14:08] ewillink commented on #30
? wrt the commits. Why not just specify the Guava bounds in some mwe.common/xtext-lib plugin and leave all the others to inherit?

[2017-05-17 14:11] cdietrich commented on #30
this is the easy way. for the rest there is again a BIG PILE OF TEST neccessary

[2017-05-18 07:17] cdietrich commented on #30
testers wanted: http://services.typefox.io/open-source/jenkins///job/xtext-umbrella/job/master/lastSuccessfulBuild/artifact/build/p2-repository/

[2017-05-18 07:21] spoenemann commented on #45
The xtext-lib project is already built with `sourceCompatibility = '1.6'`, and the default value of `targetCompatibility`is to follow `sourceCompatibility`. Is there anything else to do for this issue?

[2017-05-18 07:28] cdietrich commented on #45
was based on https://groups.google.com/forum/#!topic/xtend-lang/tn_hDOzD_jg

[2017-05-18 07:38] spoenemann commented on #45
We switched to Java 6 on xtext-lib at some time after the restructuring, so I think we can close this now.

[2017-05-19 09:53] spoenemann commented on #30
I'm leaving this open so we can work on updating the Guava Maven dependencies after the release.

[2017-05-31 06:22] cdietrich opened #51 "Decide on complete move to Java 8"
to complete #30 we need to decide if we want to move to java 8

[2017-05-31 06:25] cdietrich commented on #49
i have seen the phenomenon that the editor shows errors that are gone in the package explorer/build from time to time. unfortunately i was never in a debug situation then to narrow down the problem to see why there errors are persistent

[2017-06-12 12:56] cdietrich commented on #45
java 6 code with java 8 api is generated

[code]

[2017-08-03 03:49] kthoms opened #57 "Add flatMap function"
The `flatten` function is often used after applying the `map` function.  Therefore some languages directly support a flat map function.

https://martinfowler.com/articles/collection-pipeline/flat-map.html

[2017-08-11 06:12] cdietrich opened #59 "Buildship does not like config when using Gradle 4.1"
[code]

@oehme @spoenemann  do you have an idea what gradle/buildship trys to tell me?
for me it looks like bootstrapping is no longer working in buildship usecase

[2017-08-11 06:18] cdietrich commented on #59
problem happens as well if i execute

`./gradlew build` in xtext-umbrella/releng/gradle-composite

[2017-08-11 06:24] oehme commented on #59
Thanks for the detailed description. We did change quite a few things in composite builds, I'll have a look.

[2017-08-11 06:41] cdietrich commented on #59
is it possible that the includeBuild command with a string and a file now behaves differently

[2017-08-11 06:56] cdietrich commented on #59
it seems to be order dependent

we generate a locations.properties as follows

[code]

that determines the includeBuild order.

if you change the settings.gradle to keep that order without locations.properties as well, you can see it there too

[code]

[2017-08-11 06:58] cdietrich commented on #59
if i revert the order i dont get an error

[code]

[2017-08-11 07:09] cdietrich commented on #59
bash script to reproduce

[code]

[2017-08-15 10:15] oehme commented on #59
I checked and this is indeed caused by a change to how we discover plugin substitutions in composite builds. A project should never be substituted into its own `buildscript.classpath` though. I've opened a [bug report](https://github.com/gradle/gradle/issues/2723) for that and will make sure this gets prioritised.

[2017-08-16 06:04] cdietrich commented on #57
@kthoms what is left for this?

[2017-08-16 06:28] #57 closed

[2017-08-22 23:10] djozis opened #60 "org.eclipse.xtext.xbase.lib.ArrayExtensions.set stores incorrect value when chained (sometimes silently)"
Because `org.eclipse.xtext.xbase.lib.ArrayExtensions.set` inlines as `$1[$2] = $3` and never wraps with parentheses, the inline behavior differs from the logical behavior. Example:
[code]
Results in:
[code]
Instead of:
[code]
This example produces a compile error because an int is not an String, but in scenarios in which the chained method returns the same type as the expression used in set, it si

[2017-08-22 23:15] djozis commented on #60
Also, wrapping the call to `set` in parentheses doesn't help as they seem to get removed.

[2017-08-31 12:58] cdietrich commented on #60
@szarnekow do you see any chance to fix this besides not inlineing?

using parenthesis will not help since

[code]

[2017-09-02 23:30] djozis commented on #60
Returning void (like most setters do) could be an option in the interest of still inlining.

[2017-09-21 11:50] cdietrich commented on #51
see https://bugs.eclipse.org/bugs/show_bug.cgi?id=486390 as well

[2017-09-21 11:54] svenefftinge commented on #51
Is this hurting anybody atm? The ticket you referenced is a bit old.

[2017-09-21 11:57] cdietrich commented on #51
a year old is not so old for an xtext bug ;)

[2017-09-22 07:50] svenefftinge commented on #51
I am not aware of any users that are still on Java 6.

[2017-09-22 07:55] cdietrich commented on #51
well we have issues like this one https://github.com/eclipse/xtext-lib/issues/45

[2017-11-09 11:50] cdietrich commented on #30
still blocked by Decide on complete move to Java 8 #51

[2017-11-09 12:11] ewillink commented on #51
The platform has pretty much moved to Java 8:

https://www.eclipse.org/projects/project-plan.php?projectid=eclipse

so Java 6 should only be appropriate as a runtime compatability for users. But is it helpful to give them the illusion that Java 6 works when they will hit an obscure gotcha as soon as they do anything interesting?

[2017-11-09 12:20] cdietrich commented on #51
yes the only ones could be android users.
i dont know how good the android java 7 backcompiler works with our code

[2017-11-10 06:07] svenefftinge commented on #51
People use Xtend and Xbase DSLs on GWT and android. Which AFAIK do not support Java 8?

Since our latest version is pretty stable we could decide to just no longer support them in coming versions. That said, I‘m not sure the benefits are worth it.

[2017-11-10 07:21] cdietrich commented on #51
my knowledge is they both do support partially. thus the question if we use features they dont and how to test. @szarnekow  and me even like to go to guava 23 in supported ranges.
but we are still need to tie our maven/gradle dependencies against the old version since there is no such thing like a target platform in gradle

[2017-11-10 08:49] ewillink commented on #51
If Guava 23 is in use (by someone) for Photon, please ensure that it is in Orbit soon so that we do not have another last minute anguish about whether version dependencies are correctly represented in the manifests.

[2017-11-10 08:56] szarnekow commented on #51
Since Guava's release cylces are much shorter nowadays (we are at 23.4 right now), it will be fun to see how the Eclipse processes can cope with that. But yes, having the up-to-date versions available in orbit is the right thing to do.

[2017-11-10 09:10] ewillink commented on #51
The Guava problem will go away once:
a) an expect demonstrates that OSGI "uses" dependencies work, possibly after a P2/Equinox bug fix
b) PDE/Tycho/... tooling generates the "uses" dependencies
c) SimRel validation enforces the use of "uses" dependencies

[2017-11-10 09:11] szarnekow commented on #51
So not very soon, I'm afraid.

[2017-11-12 01:54] NicolasRouquette opened #65 "ListExtensions.sortInplace & sortInplaceBy on EList => The 'no duplicates' constraint is violated"
I made the mistake of using `ListExtensions.sortInplace` on an `EList` and got an exception:

The 'no duplicates' constraint is violated.

This is exactly the same problem as reported before here:
https://www.eclipse.org/forums/index.php/t/131744/

Back then in 2009, Ed Merks suggested using `ECollections.sort` which uses `EList.move` instead of `List.set` to shuffle elements around.

I suggest pr

[2017-11-12 09:54] cdietrich commented on #65
I don’t see how this can be solved since xbase.lib does not use emf

[2017-11-13 00:28] NicolasRouquette commented on #65
Ah, I wasn't aware of that xbase.lib doesn't use emf.

When writing xtend code, `sortInplace` and `sortInplaceBy` are proposed as possible completions for operations on an `EList` even though it is unlikely to be a good suggestion.

Perhaps the suggested operations belong to a different library that does use emf.

[2017-11-13 05:44] cdietrich commented on #65
For some reasons elists are also lists ...

[2017-11-13 05:45] cdietrich commented on #65
So xbase lib is used and proposed

[2017-11-15 12:53] cdietrich commented on #65
reproducing sample
[code]

[2017-11-15 14:31] szarnekow commented on #51
Looks like GWT 2.8.0 uses source level Java 8 so that would not be a blocker anymore.
We would need to check if we can define a dependency to Guava 23 in a way that allows to consume 23-android or 23-jre depending on the runtime env. 23-jre would be consumed from the Eclipse orbit. Other clients may use the other versions. Would that be an option?

[2017-11-16 13:47] cdietrich commented on #59
same problem even with gradle 3.5 and

`./gradlew clean build --include-build ../xtext-lib`

executed in xtext-core

[2017-11-22 10:08] cdietrich commented on #59
i did some experiments and did come up with

[code]

unfortunately i did not find a way to read `2.14.0-SNAPSHOT` from the property
@oehme do you have any idea? any hope to get the gradle bug for this fixed?

[2017-11-28 04:23] alexandrebouchard opened #67 "Incorrect order of operations for operator **"
The XExpression ``2 * 3 ** 4`` generates ``Math.pow((2 * 3), 4);``; however, the universally accepted mathematical order of operation would be ``2 * Math.pow(3, 4)``. This is also the order used in scientific computing oriented languages e.g. python and Julia.

[2017-11-28 04:32] cdietrich commented on #67
https://www.eclipse.org/xtend/documentation/203_xtend_expressions.html#operators

Says ˋ*ˋ and ˋ**ˋ have the same order level. Am not sure if we can change this afterwards. @svenefftinge @szarnekow what do you think

[2017-11-28 05:48] svenefftinge commented on #67
While I don't expect much code outside relying on the 'wrong' precedence. A change will for sure break many / all xbase users. Therefore I'd vote for keeping it as is. Such precedencies are not well known so it is good to use parenthesis for less informed readers anyways.

[2017-11-28 08:11] szarnekow commented on #67
It’s probably worthwhile to add a validation warning for these binary expressions with an unexpected precedence.
We could also fix it in Xtend without breaking Xbase clients but that may become a (rare) source for confusion.

[2017-12-08 10:45] gallandarakhneorg opened #68 "Invalid casting error from int to short"
Let the following code:
[code]
The first initialization line is compiled without error.
The second initialization line generates the error "cannot cast from int to short".
This difference of behavior is inconsistent according to the point of view of the users of my DSL.

[2017-12-08 11:05] cdietrich commented on #68
TypeData [expectation=TypeExpectation [expectation=short], type=int, flags=[INCOMPATIBLE, CHECKED], returnType=false]

@szarnekow  any idea?

[2017-12-08 11:06] cdietrich commented on #68
[code]

[2017-12-08 12:56] szarnekow commented on #68
Please try this in Java:

[code]

[2017-12-08 13:19] gallandarakhneorg commented on #68
I agree with the Java behavior above. That's why I'm trying to use the cast operator.
The problem is related to this explicit cast, which does not work properly with Xtext:
[code]
The two equivalent lines above should be compiled without error (and this is the case with Java), but Xtext generates an error in the first case.

[2017-12-08 13:50] szarnekow commented on #68
You mean the operator precendence between -(x) and (x as foo) ?

[2017-12-08 14:08] gallandarakhneorg commented on #68
Yes, I think the problem could be related to the precedence. I have not double checked the Xbase code, but it seems that `operator_minus` as a lower precedence order that the casting operator. That's not the case in Java.

Regarding the comment by @cdietrich, me and my DSL users found strange that `-x` is not a `short` if `x` is a `short`. I know that it is the result of the mapping to the Java sp

[2017-12-08 14:36] szarnekow commented on #68
I'm afraid there is not much we can do about this. We won't change the type system for primitives.

Please consider this programm:

[code]

which yields this output:

[code]

Especially the last line is interesting, because the inverse of Short.MINVALUE should not be negative, but it would be. And that would be really surprising, independent of the knowledge level of the people using the language.

[2017-12-08 15:11] gallandarakhneorg commented on #68
I think the problem is not related to the run-time behavior, but to the compilation error that should not be generated if we plan to mimic the Java specification. `var x : short = -1 as short` should not generate an compilation error because it should be inferred to `short x = (short) -1;` that is a valid Java code.

[2017-12-12 17:43] gallandarakhneorg commented on #68
Dear all.
I have taken a look deeper in the syntax tree generated from the Xbase grammar.
Let the following code:
[code]

The Ecore tree given by the compiler is:
[code]
You could see that the assigned expression has not the expected form. It should be:
[code]

I am right?

If yes, perhaps this issue should be moved within the xtext-extras project in order to change the Xbase grammar.

[2017-12-12 18:16] gallandarakhneorg commented on #67
I think Issue #68 is related: a precedency problem between the cast operator and the minus operator.
It's leading me to say that the operator precedency within Xbase should be reviewed and fixed carefully.

I'm not agree with @svenefftinge regarding the definition of the operator precedencies. Well known languages provide power and cast operators that have well-known precedencies. Take a look on P

[2017-12-13 20:02] gallandarakhneorg commented on #67
After Googling a little, I could propose the following precedence table for Xbase.

Inspiration sources:

* [Java operator precedence](https://docs.oracle.com/javase/tutorial/java/nutsandbolts/operators.html)
* [C++ operator precedence](http://en.cppreference.com/w/cpp/language/operator_precedence)
* [Python operator precedence](https://docs.python.org/3/reference/expressions.html#operator-precede

[2017-12-14 18:49] gallandarakhneorg commented on #67
Changes to be applied within the Xbase grammar are:
[code]

[2018-02-05 11:50] cdietrich commented on #51
id like to come back on this issue. either we need a proper way to built against java 6 or we should go to java 8

[2018-02-05 12:49] cdietrich commented on #51
if i dont get any objections within a week i consider this a approval

[2018-02-05 12:55] spoenemann commented on #51
No objection.

[2018-02-06 07:00] cdietrich commented on #51
done @kthoms

[2018-02-06 09:14] kthoms commented on #51
I consider this as done.

[2018-02-13 05:27] cdietrich commented on #51
Updated to Java 8 with 2.14

[2018-02-13 05:30] #51 closed

[2018-02-13 05:30] cdietrich commented on #45
We moved to Java 8 no so this is obsolete

[2018-02-13 05:30] #45 closed

[2018-02-13 05:31] cdietrich commented on #30
we now use guava 21. thus this is fixed

[2018-02-13 05:31] #30 closed

[2018-02-19 07:09] kthoms opened #81 "NPE in annotation processing"
After a git pull I got several NPEs in the error log of that kind:

[code]

[2018-02-19 07:17] cdietrich commented on #81
what is the value? do you use mixed xtend lib versions?

[2018-02-19 07:18] kthoms commented on #81
No mixing, this happens in my dev workspace.
Apparently a type's name is null, but I don't know why.

[2018-02-19 07:19] cdietrich commented on #81
which project is affected?

[2018-02-19 07:23] cdietrich commented on #81
but the lines make no sense to me.
which version do you use?

[2018-02-19 07:26] kthoms commented on #81
2.14.0.v20180116-0209

[2018-02-19 07:27] cdietrich commented on #81
that version is quite old
hmmm maybe it has to to with the java 8 change and possible updated linenumbers.

[2018-02-19 07:30] kthoms commented on #81
will update of course now, but cleaning the projects made the error already disappear.

[2018-03-24 16:07] cdietrich opened #84 "Improve Xbase/Xtend Stdlib"
Improove Xbase/Xtend Stdlib

- have a look at new types and api in Java 7/8/9/10 (e.g. iterableextensions and streams)
- offer new extensions for that api in our extensions zoo

[2018-04-21 14:29] cdietrich commented on #59
still an issue with gradle 4.7

[2018-04-23 11:04] cdietrich opened #87 "Delegate Processor cannot handle generics correctly in all cases"
e.g.

[code]

needs to duplicate methods

[2018-04-23 12:03] szarnekow commented on #87
We may want to have a method `getErasureSignature():Signature / String` on `org.eclipse.xtend.lib.macro.declaration.ResolvedExecutable`

[2018-04-23 12:08] cdietrich commented on #87
getErasureSignature or getResolvedErasureSignature?

[2018-04-23 13:14] cdietrich commented on #87
i am not sure how to solve this bootstrapping wise.

- delegate is used all over our code.
- introducing new methods to macro api and changing its code loads to class loader errors.

[2018-04-23 13:25] cdietrich commented on #87
[code]

[2018-04-23 14:07] cdietrich commented on #87
added IF method so that we can bootstrap against rc1

[2018-05-29 15:35] cdietrich commented on #59
other possible workaround:
get rid of dependency to xtext-gradle and p2 gen plugin in xbase lib

[2018-05-29 18:48] cdietrich commented on #59
even more strage. seems to be dependendent on order of locations.properties
=> if xtext-core is imported before xtext-lib no problem :(

[2018-05-29 19:03] cdietrich commented on #59
=> needs extensive testing with

[code]
in umbrellas settings.gradle

[2018-05-29 19:03] cdietrich commented on #59
@oehme do you have any idea why the order of "includeBuild" matters here?

[2018-05-30 09:12] oehme commented on #59
If ordering makes a difference, that would be a bug. I'm getting more and more convinced we should make plugin dependency substitution explicit (e.g. by including a build in the `pluginManagement` block)  instead of the implicit default.

[2018-05-30 09:28] cdietrich commented on #59
do you have a link on that?

[2018-05-30 10:02] oehme commented on #59
https://github.com/gradle/gradle/issues/4343

[2018-06-01 08:12] chansey97 opened #91 "No zip function in IterableExtensions?"
zip :: [a] -> [b] -> [(a,b)] is a very commonly used function to manipulate lists, but I can't find this util function in IterableExtensions.java.

[2018-06-01 08:14] cdietrich commented on #91
https://bugs.eclipse.org/bugs/show_bug.cgi?id=439506

[2018-06-19 12:29] cdietrich commented on #59
@oehme this seems not to be working.
if i add a pluginManagement to settings.gradle it still tries to load the flase plugins
mentioned from the dependencies section of the buildscript.
any further hints?

[2018-06-27 06:57] cdietrich commented on #91
@szarnekow any thoughts?

[2018-06-27 14:23] szarnekow commented on #91
I'd vote in favor of an overloaded IterableExtensions.zip(first, second) and IterableExtensions.zip(first, second, third) that returns a tuple. In theory we could also add a zipAll(first, more: Iterable<Iterable<?>>): Iterable<List<?>> but I'm not sure if this is useful. I don't like the idea of having zip3, zip4 etc. Xtend does not have a tuple type with more than 3 dimensions.

[2018-07-17 09:53] cdietrich commented on #59
since there is no hope to get this fixed on gradle side or on xtext side (@oehme does not seem to have time for that) we will get rid of xtend and p2-gen plugins in xtext-lib and see if that helps)

[2018-07-17 12:58] cdietrich opened #98 "Get rid of Xtend code and p2gen plugin"
As workaround for https://github.com/eclipse/xtext-lib/issues/59
we should get rid of the xtend code (+ plugin) and the p2-gen gradle plugin
to avoid bootstrapping issues

[2018-07-17 12:59] cdietrich commented on #98
cc @kthoms @ miklossy

[2018-08-03 09:27] cdietrich commented on #81
still need some hints on how to reproduce

[2018-08-03 11:14] cdietrich commented on #60
@szarnekow any hints? am not sure if the Inline.statementxxxx should be evaluated here and the .length call should be forbidden

[2018-08-23 15:54] cdietrich commented on #98
i'd like to put this on hold since there is hope that the gradle bug is fixed in 2.9 oder 2.10

[2018-08-24 11:53] cdietrich commented on #59
as it looks the issue is solved with gradle 4.9+

[2018-08-24 17:47] cdietrich commented on #59
confirmed fixed in gradle 4.9

[2018-08-24 17:47] #59 closed

[2018-09-04 12:34] mbaluda opened #111 "Update to Guava 27.1 (Security vulnerability in guava < 24.1.1)"
xtext requires guava < 22.0.0
However, all versions <24.1.1 contain the deserialization vulnerability CVE-2018-10237

[2018-09-04 12:40] cdietrich commented on #111
see https://bugs.eclipse.org/bugs/show_bug.cgi?id=538553  too

[2018-09-04 12:41] cdietrich commented on #111
@mbaluda are you using xtext in a context where the CVE actually is exploitable?

[2018-09-05 12:58] mbaluda commented on #111
I do not have a working exploit for the system.
However for this type of issues, already having the vulnerable classes in the classpath has security implications.
In practice however my problem is that distributing components affected by known vulnerabilities is against our security policy and, most importantly, against our customers security policies.

[2018-09-05 13:05] cdietrich commented on #111
well the problem i have: eclipse api and third party usage is a big bureaucracy pile and a change might require a version 3.0 which is again a big pile of work e.g. for downstream projects.

=> it is not just done by bumping the version

and we might need a new guice too.

[2018-09-05 15:06] mbaluda commented on #111
The vulnerability CVE-2018-10237 is of medium severity and not easy to exploit, however it might be part of a larger attack just by having the affected classes in the classpath.
There is a possible mitigation described in https://github.com/google/guava/wiki/CVE-2018-10237 based on http://openjdk.java.net/jeps/290.

Do you think that this would be a feasible solution?

[2018-09-05 15:28] cdietrich commented on #111
i dont get that. settimg system properties is up to the application developer isnt it?

[2018-09-05 15:50] mbaluda commented on #111
I'm not suggesting that the property can be set in your code.
However while waiting for a real fix, I suggest that the security issues in xtext are documented somewhere, together with recommended mitigation.

[2018-09-05 15:54] cdietrich commented on #111
Xtext is open source. as always: PR welcome

[2018-09-05 15:59] cdietrich commented on #111
Tasks:

- document issue
- use newer guava in gradle and maven, see what explodes
- create a local orbit like plugin and see what explodes
- discuss with orbit and cross project dev issues

[2018-10-02 13:54] gallandarakhneorg commented on #49
Any new about this issue? It is still existing in Xtext 2.15.

[2018-10-02 13:56] cdietrich commented on #49
No. There is still no steps how to properly reproduce this.

[2018-10-02 14:04] tivervac commented on #49
I have this issue on at least a weekly basis but no idea how to reproduce it. Sometimes it also appears in less catastrophic way where an error is marked in your code that disappears after a random touch the file.

[2018-10-12 11:47] gallandarakhneorg commented on #49
According to the issue above, the resource sets may be different between the two components (editor and package explorer).

[2018-11-02 12:36] cdietrich opened #131 "Solve Problems with GWT"
we currently have Compile Errors in GWT tests (build works fine)
- ignore erros
- remove GWT support
- find different GWT Gradle plugin that works with Gradle 5
- install http://storage.googleapis.com/gwt-eclipse-plugin/v3/release/ with oomph (not sure if this will help)
- use something else than gradle to build

[2018-11-02 12:37] cdietrich commented on #98
We removed P2gen plugin. Xtend works fine now

[2018-11-02 12:37] #98 closed

[2018-11-06 09:11] cdietrich commented on #131
in 2.16 deprecate, in 2.17 remove.

[2019-01-16 00:09] Blaisorblade opened #146 "xtend-lib 2.17.0.M1 breaks Maven resolution for lsp4j"
It appears your new milestone release depends on a missing artifact, and since LSP4J depends on a version range, existing LSP4J releases appear non-functional.

EDIT: Beware I'm no Maven expert.

1. org.eclipse.xtend.lib 2.17.0.M1 depends on missing artifact `xtext-dev-bom` (per https://search.maven.org/artifact/org.eclipse.xtend/org.eclipse.xtend.lib/2.17.0.M1/jar)

2. org.eclipse.lsp4j.generator

[2019-01-16 01:59] Blaisorblade commented on #146
The missing artifact appears [published](https://search.maven.org/artifact/org.eclipse.xtext/xtext-dev-bom/2.17.0.M1/pom). Closing.

[2019-01-16 01:59] #146 closed

[2019-01-16 08:37] kthoms commented on #146
Be patient, young padawan, Maven Central synching slowly is and sleeping in the night a good choice is ;-)

[2019-02-04 09:34] cdietrich commented on #131
Moved removal to 2.18

[2019-02-11 10:01] cdietrich commented on #131
cc @ArneDeutsch @szarnekow

[2019-02-12 18:17] cdietrich commented on #111
https://github.com/eclipse/xtext/issues/1398

[2019-03-22 14:03] cdietrich commented on #60
Fixed in 2.18

[2019-03-22 14:03] #60 closed

[2019-04-05 12:59] alexandrelombard opened #179 "Implementing operator_plus(Float left, Number right)"
I've just started a discussion [here](https://www.eclipse.org/forums/index.php/m/1805077/#msg_1805077) about implementing operator_plus(Float, Number) in FloatExtensions

To be quick, I noticed DoubleExtensions provides a method to add a Double and a Number with the operator +. I'd like to have the same for Float implemented like this:

But when I do it in my own FloatExtensions class, it does not

[2019-04-05 13:07] cdietrich commented on #179
[code]
works for me

[2019-04-17 09:40] cdietrich commented on #179
@szarnekow can you comment on the "why"
@alexandrelombard can you give a complete example snippet not working for you?

[2019-04-17 21:40] szarnekow commented on #179
I don't recall the decision process here, so I tried to reverse engineer.
Java does not support Double + Number, so that could have been a mistake in the first place, especially since the overload for Boxed + Number is only available for Double. The line of though could have been, that Number.doubleValue is likely to be the conversion with the smallest potential of being lossy conversion. But it's

[2019-05-09 06:36] mbudnick commented on #131
I would change to https://github.com/esoco/gwt-gradle-plugin (license LGPL-3.0). It seems to be maintained and I manged to fix the compile errors.
An alternative could be https://github.com/ascendtech/gwt-gradle (license Apache-2.0). But this project is not even one year old.
An secound alternative could be https://github.com/big-guy/gwt-gradle-plugin (no license). There are few commits for mantai

[2019-05-09 06:38] cdietrich commented on #131
you can run the bash script.
or you create a branch and open a WIP pull request.
also make sure there are no gradle 6.0 deprecation warnings

[2019-05-14 07:46] cdietrich commented on #131
thx for the fix @mbudnick

[2019-05-14 07:46] #131 closed

[2019-06-11 06:57] cdietrich commented on #111
we are on Guava 27.1 with Xtext 2.19

[2019-06-11 06:57] #111 closed

[2019-06-14 07:44] cdietrich commented on #81
@kthoms ok with close as not reproducible?

[2019-06-14 08:02] kthoms commented on #81
Yes, I did not see this one again, so let's close it.

[2019-06-14 08:02] #81 closed

[2019-08-13 19:41] szarnekow opened #224 "Delegate annotation relies on method order in class files"
The method order can be considered to be arbitrary. The annotation processor should impose a stable sorting.

[2019-08-15 08:10] szarnekow commented on #224
Fixed

[2019-08-15 08:10] #224 closed

[2019-10-18 20:52] cdietrich opened #240 "GWT deprectations with Gradle 6.0"
the gwt-gradle-plugin introduces new warnings about deprecations with gradle 6.0.
it uses the maven plugin which is deprecated and will be removed with gradle 7.0

created https://github.com/esoco/gwt-gradle-plugin/issues/16

[2019-10-24 20:07] cdietrich commented on #240
my pr is still awaiting review

[2019-10-31 02:40] Hanksha opened #246 "Accessors annotation with null check"
I love using the `Accessors` active annotation but in some cases I want to prevent null values to be assigned via setter or constructor and I can't use that annotation anymore.

I was thinking we could improve the `Accessors` active annotation to handle it. We can either add a boolean field `allowNull=false` or have another `AccessorType` called `NULL_SAFE`. The generated code will then check for

[2019-10-31 02:43] Hanksha opened #247 "Add StringExtensions.isBlank method"
The `StringExtensions` has a `isNullOrEmpty` method but is missing a `isBlank` method which is also a very common use case.

[2019-10-31 09:18] szarnekow commented on #246
Active annotations are rather easy to implement for project specific needs. I’m not excited to add more flags and options to the default annotations. Other may want to use Preconditions, the next user may want to have another error message. The Data annotation would need to be changed, too. For not-null fields it would make sense to generate not-null annotations, too - again the question: which on

[2019-10-31 09:21] szarnekow commented on #247
What is your expectation? Is a null string blank?

[2019-10-31 14:10] Hanksha commented on #247
I expect it to be like the Apache commons StringUtils or other similar library.
[code]

[2019-10-31 14:32] Hanksha commented on #246
@szarnekow Yes you're right it is easy to create active annotations _for project specific needs_ and I've done it for a good number of cases. But I consider this general purpose programming and not project specific need. If the Data annotation needs to be changed as well we could opt for a NotNull annotation (or reuse the existing `@Notnull`). Each field annotated with that annotation would indica

[2019-10-31 14:54] szarnekow commented on #246
@Hanksha I'm aware of the fact that we can make any kind of decision here and implement it in that way - being it based on annotations, about using `Objects` or `Preconditions` etc. What I'm trying to say: About the strict semantics here, there is no such kind of one-size-fits all. That's why I'm not super excited about more semantics baked into the basic active annotations.
I wouldn't mind promot

[2019-10-31 15:01] szarnekow commented on #247
Which kind of whitespace would you consider whitespace? Same semantics as `String.isBlank` in Java11? Why not use that one directly? Same semantics as implemented in `trim()`? Is a newline character whitespace or not? I don't want to be the advocatus diaboli but I'm a little scared to add something to the lib that is well implemented in other libraries, too.

So it boils down to the question: What

[2019-11-01 00:39] Hanksha commented on #247
I consider a whitespace what Java considers a whitespace by `java.lang.Character.isWhitespace(int|char)`.

Xtend already forces us to use Guava as a util library (which already have `Strings.isNullOrEmpty` which is duplicated by `StringExtensions.isNullOrEmpty`) and not a lot of project can move to Java 11 (which is one of the advantages of using Xtend).

I'm surprised you asked me for a use case,

[2019-11-01 01:03] Hanksha commented on #246
@szarnekow  I find it ridiculous to have to do my own library to add this very general purpose feature (fail fast null pointer checks is as much a pattern/code style as using getters and setters). That would mean copy/paste the current implementation (which means I'll have to maintain it as well) and add that behavior (then call it what, AccessorsWithNotNull?) as the annotation cannot be easily ex

[2019-11-01 08:46] szarnekow commented on #247
I'm mostly asking because there is `java.lang.String.isBlank` since Java 11 and I don't want to introduce a utility that links differently in Xtend when compiled against Java 8 vs Java 9, e.g. the very same code would work fine with Java 8 but fail with Java 11:
[code]
In essence we would need another name (`isNullOrBlank`?) or people would need to be more explicit with its usage, e.g. write `Stri

[2019-11-02 13:43] Hanksha commented on #247
I get what you mean for Java 11 and I don't mind a different name like `isNullOrBlank` to solve that problem.

Simple use cases:

[code]

[code]

[code]

[2019-11-04 07:00] cdietrich commented on #246
the problem is: how will maintain the pile of AA

[2019-11-04 07:03] cdietrich commented on #240
Fixed with update to "de.esoco.gwt" version "1.0.10"

[2019-11-04 07:03] #240 closed

[2020-02-17 12:04] cdietrich opened #303 "Release_2.23"

[2020-02-17 12:56] #303 closed

[2020-02-21 09:16] cdietrich commented on #84
clear milestone

[2020-04-17 15:18] ivaniesta14 opened #318 "Accessors Annotation should allow deprecating generated methods"
_See also eclipse/xtext-xtend#903._

The `@Accessors` annotation lacks the ability to deprecate the accessors, even when the field is marked as `@Deprecated`.

_Rationale_: In some cases, deprecating API is required, and in the case of large projects, it is significantly easier to just enable deprecation warnings to change uses of old API than to manually look through all usages of the field and i

[2020-04-17 15:33] ivaniesta14 opened #319 "Accessors annotation should suppress warnings if required"
_See eclipse/xtext-xtend#903._

_Rationale_: Eclipse can be set up to enable warnings due to hiding (_These warnings can be disabled for setters and constructors_). Given the implementation of the annotation, setters trigger those warnings. Suppressing only that specific warning seems too narrow to me. Hence I think there should be a way of suppressing any warning via `@SuppressWarnings` on the ge

[2020-04-17 15:39] ivaniesta14 opened #320 "Accessors annotation should allow this-returning setters"
_See eclipse/xtext-xtend#903._

_Rationale_: In some APIs, setters for a given type `T` have the signature `T setField(FieldType)` (instead of `void setField(FieldType)`) and return `this`. In order to comply to these API constraints for some projects, this option should also be possible to be generated by `@Accessors` annotation.

_Proposed fix_: See PR #317. By default, the annotation generates

[2021-07-12 08:36] cdietrich opened #387 "Update of de.esoco.gwt plugin does not work cause transitive dependencies are looked at"
With the new 1.1.1 version of the de.esoco.gwt plugin our build does no longer work
cause transitive dependencies are looked at by GWT

https://github.com/eclipse/xtext-lib/compare/cd_gwt111
https://ci.eclipse.org/xtext/job/xtext-lib/job/cd_gwt111/1/console

[code]

[2021-07-12 08:47] cdietrich commented on #387
@mbudnick are you still using xtend with gwt?

[2021-07-12 13:24] mbudnick commented on #387
Yes.
I don't understand the reason of the error above, but readme of esoco/gwt-gradle-plugin tells it use GWT in Version 2.8.2.
Perhaps it's helpfull using current GWT Version 2.9.0?

[2021-07-12 13:25] cdietrich commented on #387
the reason is a change in the plugin. they now somehow collect and look at all transitive deps

[2021-07-23 14:51] cdietrich commented on #387
i wonder if switching back to https://gwt-gradle-plugin.documentnode.io/setup-and-configuration/quickstart
would be an option

[2021-07-26 04:40] cdietrich commented on #387
looks like it is working. but who knows. have zero gwt knowledge ....

[2021-07-26 06:45] szarnekow commented on #387
Neither do I. The changes look sane to me, though.

[2021-07-26 06:55] mbudnick commented on #387
I use
[code]
Is there a maven-Repository and a Version so I can manually check if my code compile and run anymore?

[2021-07-26 06:57] cdietrich commented on #387
there are actually two.

https://ci.eclipse.org/xtext/job/xtext-lib/job/cd_gradle7experiments/lastSuccessfulBuild/artifact/build/maven-repository/ (built with gradle 7)

and
https://ci.eclipse.org/xtext/job/xtext-lib/job/cd_issue387/lastSuccessfulBuild/artifact/build/maven-repository/

in the gradle 7 variant i had to change the dependcies in the test. i have no idea if that was correct.

[2021-07-26 11:47] cdietrich commented on #387
hmmm the gwt dep does not seem to work in eclipse
but without (using `api`) its not working with gradle 7
https://github.com/eclipse/xtext-lib/blob/24bd40eea27c0b5c7bee519a4599a283c14c77a9/org.eclipse.xtend.lib.gwt.test/build.gradle#L8

@mbudnick any idea how to configure the test project

[2021-07-26 11:51] cdietrich commented on #387
duplicating the dependency seems to work.

[code]
is this a bug in the plugin ?!?

[2021-07-26 13:28] cdietrich commented on #387
asked here https://github.com/jiakuan/gwt-gradle-plugin/issues/49

[2021-07-27 10:25] mbudnick commented on #387
I changed my xtext.version to 2.26.0-SNAPSHOT.
Because I use this Version for xtext, xtext-lib and xtend I leave the version 2.25.0 when there were errors not finding libs for xtext or xtend.
With both Repositories from ci.eclipse.org my code compiles and run.

I have zero gradle knowledge, so I don't understand what you do in build.gradle.

[2021-08-03 15:11] cdietrich commented on #387
i guess then we have to drop gwt support sooner or later and you would have to provide it yourself.
am not sure if using "apply plugin: 'gwt-base'"
instead of the custom stuff we do would help

[2021-08-12 10:56] cdietrich commented on #387
have pushed the workaround for now

[2021-08-23 15:06] mbudnick commented on #387
With a release v2.26.0.M2 I could test against my code

[2021-08-23 15:09] cdietrich commented on #387
You should also be able to test with nightly from sonatype oss snapshots repo

[2021-08-24 07:21] mbudnick commented on #387
With Version 2.26.0-SNAPSHOT from https://oss.sonatype.org/content/repositories/snapshots/ today everything works for me, I have no problems with xtext.xbase.lib.gwt.

[2021-08-24 07:23] cdietrich commented on #387
will close this for now. thanks for testing

[2021-08-24 07:23] #387 closed

[2021-11-12 12:14] cdietrich opened #409 "Drop GWT support"
Drop GWT support

- remove from xtext-lib/xtext-xtend build
- remove from publishing

[2022-04-29 04:34] cdietrich commented on #409
move to 2.28

[2022-09-20 13:29] NetzwergX commented on #91
Since Xtext has `Pair<A, B>`, having at least `zip(Iterable<A>, Iterable<B>)` would be greatly appreciated.